{% extends 'base.html.twig' %}
{% block body %}
  {% include '/Navbar/defaultNavbar.html.twig' %}
  <div class="main-wrapper">
    <div class="active-banner-slider">
      <div class="item d-flex align-items-center">
        <div class="container">
          <div class="content">
            <h1 class="text-white text-uppercase">Instead of watching TV
              <br>
              you could have fun in other ways</h1>
            <p class="text-white">Take some time for reading. Find the book you want to!</p>
            <a href="{{ path("app_search") }}" class="primary-btn d-inline-flex align-items-center">
              <span class="mr-10">Get Started</span>
              <span class="lnr lnr-arrow-right"></span></a>
          </div>
        </div>
      </div>
      <div class="item d-flex align-items-center">
        <div class="container">
          <div class="content">
            <h1 class="text-white text-uppercase">Instead of watching TV
              <br>
              you could have fun in other ways</h1>
            <p class="text-white">Take some time for reading. Find the book you want to!</p>
            <a href="{{ path("app_search") }}" class="primary-btn d-inline-flex align-items-center">
              <span class="mr-10">Get Started</span>
              <span class="lnr lnr-arrow-right"></span></a>
          </div>
        </div>
      </div>
      <div class="item d-flex align-items-center">
        <div class="container">
          <div class="content">
            <h1 class="text-white text-uppercase">Instead of watching TV
              <br>
              you could have fun in other ways</h1>
            <p class="text-white">Take some time for reading. Find the book you want to!</p>
            <a href="{{ path("app_search") }}" class="primary-btn d-inline-flex align-items-center">
              <span class="mr-10">Get Started</span>
              <span class="lnr lnr-arrow-right"></span></a>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="main-wrapper">
    <!-- Start Feature Area -->
    <section class="featured-area">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="single-feature">
              <div class="icon">
                <span class="lnr lnr-sun"></span>
              </div>
              <div class="desc text-center">
                <h6 class="title text-uppercase">Crazy Adventures</h6>
                <p>Go through this adventure! Adventure? Is it a adventure? We're going into a adventure!</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="single-feature">
              <div class="icon">
                <span class="lnr lnr-magnifier"></span>
              </div>
              <div class="desc text-center">
                <h6 class="title text-uppercase">Search</h6>
                <p>Now it's possible to find your book by searching in our system</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Feature Area -->
    <!-- Start Story Area -->
    <section class="story-area">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-3">
            <div class="story-title">
              <h3 class="text-white">A mutual love</h3>
              <span class="text-uppercase text-white">Making your life easier</span>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="story-box">
              <h6 class="text-uppercase">From the part of beginning</h6>
              <p>This website was developed with the goal of making things easier for who loves to read! Find the book you want to see if it's still available to rent!</p>
              <a href="{{ path("app_search") }}" class="primary-btn d-inline-flex align-items-center">
                <span class="mr-10">Get Started</span>
                <span class="lnr lnr-arrow-right"></span></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Story Area -->

    <!-- Start Feature Area -->
    <section class="featured-area">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="single-feature">
              <div class="icon">
                <span class="lnr lnr-book"></span>
              </div>
              <div class="desc text-center">
                <h6 class="title text-uppercase">Books</h6>
                <p>Different types of books for different types of tastes</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="single-feature">
              <div class="icon">
                <span class="lnr lnr-book"></span>
              </div>
              <div class="desc text-center">
                <h6 class="title text-uppercase">Convenience</h6>
                <p>There's no need for you to go in your library without knowing if the book is or not available</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Feature Area -->

    {% include '/Footer/defaultFooter.html.twig' %}

  </div>
{% endblock %}
