{% extends 'base.html.twig' %}

{% block body %}
  {% include '/Navbar/defaultNavbar.html.twig' %}
  <div class="main-wrapper">

    <div class="banner-area">
        <div class="container">
          <div class="row justify-content-center generic-height align-items-center">
            <div class="col-12 col-md-8">
              <div class="banner-content text-center">
                <span class="text-white top text-uppercase">Click here to create an account</span>
                <h1 class="text-white text-uppercase">Login Page</h1>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Start Feature Area -->
      <section class="featured-area">
        <div class="container">
          <div class="row m-md-0 justify-content-center">
            <p class="small text-danger text-center">&nbsp;
              {% if error %}
                {{ error.messageKey }}
              {% endif %}
            </p>

            <form class="col-12" action="{{path('app_login')}}" method="post">
                <div class="form-group">
                    <input type="text" name="_username" class="form-control rounded-0" placeholder="Username" required="required">
                </div>
                <div class="form-group">
                    <input type="password" name="_password" class="form-control rounded-0" required="required" placeholder="Password">
                </div>
                <button class="genric-btn primary-border col-12" type="submit">Log in</button>
            </form>
          </div>
        </div>
      </section>
    <!-- End Feature Area -->

    {% include '/Footer/defaultFooter.html.twig' %}
  </div>
{% endblock %}
